<div  class="container-fluid">
  <header class="row">
    <span class="col-md-6"><a href="tel:+380675095100">Kyivstar: 067-50-95-100</a>  <a href="tel:+380633627885">Life: 063-36-27-885</a></span>
    <span class="col-md-6 text-right"><a href="mailto:Lena_tour@mail.ru">e-mail: Lena_tour@mail.ru</a>  <a href="tel:+3800456565388">т./ф. +380(04565)6-53-88</a></span>
  </header>
  <div class="row login text-right">
      <a href="/users/sign_up">Регистрация</a><br>
      <a href="/users/sign_in"><span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span> Войти</a>
  </div>
  <nav>
    <div class="logo row">
      <img class="col-md-3 img-responsive" src="img/logo.png" alt="logo" />
      <div class="col-md-9"><h1>Туристическое агенство <br>Шохалевич Елены</h1></div>
    </div>
    <div class="tour-tags row">
      <a href="/">Все туры</a>
      <a href="/tours?category=%D0%A2%D1%83%D1%80%D1%8B+%D0%BF%D0%BE+%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D0%B5">Туры по Украине</a>
      <a href="/tours?category=%D0%AD%D0%BA%D1%81%D0%BA%D1%83%D1%80%D1%81%D0%B8%D0%B8">Туры за границу</a>
      <a href="/tours?category=%D0%A2%D1%83%D1%80%D1%8B+%D0%B7%D0%B0+%D0%B3%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D1%83">Экскурсии</a>
    </div>
    <div class="search row">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Куда вы хотите поехать?">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </span>
      </div>
    </div>
  </nav>
  <main>
    <article class="row">
      <div class="col-md-6">
        <a href=""><h2>Заголовок</h2></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempora, cum atque iste illo. Earum exercitationem distinctio iure nostrum labore atque sit autem tenetur, molestias, maiores illum. Adipisci, earum aliquid.
        </p>

        <a class="hashtag">#дуроввернистену</a>
        <div class="article-info row">
          <span class="date col-md-4">16.06.1994</span>
          <span class="place col-md-4">Fastiv</span>
          <span class="price col-md-4">over9000</span>
        </div>
      </div>
      <img class="col-md-6 img-responsive" src="img/article.jpg" alt="">
    </article>
    <article class="row">
      <div class="col-md-6">
        <a href=""><h2>Заголовок</h2></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempora, cum atque iste illo. Earum exercitationem distinctio iure nostrum labore atque sit autem tenetur, molestias, maiores illum. Adipisci, earum aliquid.
        </p>

        <a class="hashtag">#дуроввернистену</a>
        <div class="article-info row">
          <span class="date col-md-4">16.06.1994</span>
          <span class="place col-md-4">Fastiv</span>
          <span class="price col-md-4">over9000</span>
        </div>
      </div>
      <img class="col-md-6 img-responsive" src="img/article.jpg" alt="">
    </article>
    <article class="row">
      <div class="col-md-6">
        <a href=""><h2>Заголовок</h2></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempora, cum atque iste illo. Earum exercitationem distinctio iure nostrum labore atque sit autem tenetur, molestias, maiores illum. Adipisci, earum aliquid.
        </p>

        <a class="hashtag">#дуроввернистену</a>
        <div class="article-info row">
          <span class="date col-md-4">16.06.1994</span>
          <span class="place col-md-4">Fastiv</span>
          <span class="price col-md-4">over9000</span>
        </div>
      </div>
      <img class="col-md-6 img-responsive" src="img/article.jpg" alt="">
    </article>
    <article class="row">
      <div class="col-md-6">
        <a href=""><h2>Заголовок</h2></a>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempora, cum atque iste illo. Earum exercitationem distinctio iure nostrum labore atque sit autem tenetur, molestias, maiores illum. Adipisci, earum aliquid.
        </p>

        <a class="hashtag">#дуроввернистену</a>
        <div class="article-info row">
          <span class="date col-md-4">16.06.1994</span>
          <span class="place col-md-4">Fastiv</span>
          <span class="price col-md-4">over9000</span>
        </div>
      </div>
      <img class="col-md-6 img-responsive" src="img/article.jpg" alt="">
    </article>
    <div class="btn-toolbar pagination" role="toolbar">
      <div class="btn-group" role="group">
        <a class="btn btn-default" href="#" role="button">1</a>
        <a class="btn btn-default disabled" href="#" role="button">2</a>
        <a class="btn btn-default" href="#" role="button">3</a>
        <a class="btn btn-default" href="#" role="button">4</a>
        <a class="btn btn-default disabled" href="#" role="button">...</a>
        <a class="btn btn-default" href="#" role="button">10</a>
      </div>
    </div>
  </main>
  <footer class="row">
    <div class="col-md-6">
      <p>08500,м. Фастів, Київська обл.
        <br>пл. Перемоги,1
        <br>
        <br>Ліцензія ГКТ АА № 505050 від 02.12.2009 р.
      </p>
    </div>
    <div class="col-md-3">
      <a href="tel:+380675095100"><img src="img/kyivstar.png" alt="ks"><span> 067-50-95-100</span></a>
      <a href="tel:+380633627885"><img src="img/life.png" alt="life"><span> 063-36-27-885</span></a>
    </div>
    <div class="col-md-3">
      <a href="http://vk.com/forest1995"><img src="img/vk.png" alt="vk"></i><span> http://vk.com/forest1995</span></a>
      <a href="tel:+3800456565388"><i class="glyphicon glyphicon-earphone"></i><span> (04565)6-53-88</span></a>
      <a href="mailto:Lena_tour@mail.ru"><span style="font-size: 20px;">@</span><span> Lena_tour@mail.ru</span></a>

    </div>
  </footer>
