= simple_form_for([@tour, @tour.comments.build]) do |f|
    = f.input :content, as: :text, class: 'form-control', label: false, placeholder: 'Введіть тут ваш текст'
    = f.button :submit, 'Відправити', class: 'btn btn-default'
