/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  max-width: 1200px;
  font-family: "Helvetica Neue", "Arial", sans-serif
}

.row-list {
  li {
    display: inline-block;
  }
}

.display-ul {
  text-decoration: none;
  margin: 0 0;
  li {
    display: inline-block;
    margin: 1rem 1rem 0 1rem;
    font-weight: 700;
    a {
      color: #ff2856;
    }
  }
}

.header {
  text-align: center;
  #emblem {
    width: 230px;
    height: 110px;
    margin: 3rem 0 3rem 0;
  }
  h1 {
    text-align: center;
    font-weight: 900;
    color: #145E86;
    margin: 4rem 0 0 0;
    letter-spacing: 6px;
    font-size: 4rem;

  }
  h2 {
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: 4px;
    margin: 1rem 0 0 3rem;
    color: #145E86;
  }
  .top-contact-info {
    background-color: #2E2F30;
    margin: 0 auto;
    ul {
      padding: 0 0;
      margin: 0 0;
      li {
        font-weight: 600;
        color: #CCCCCC;
        display: inline-block;
        margin: 0 30px 0 30px;
      }
    }
  }
}

.footer {
  background: #2E2F30;
  color: #CCCCCC;
  padding: 2rem 0;
  margin: 0 auto;
  ul {
    li {
      list-style: none;
      margin: 1rem 0;
      #life-emblem {
        width: 25px;
        height: 20px;
      }
      #kiev-star-emblem {
        width: 20px;
        height: 20px;
      }
      .footer-emblem {
        width: 20px;
        height: 20px;
      }
      span {
        margin: 0 15px;
      }
    }
  }
}

.tours-group {
  margin: 2rem 0 2rem 0;
}

ul.soc-auth-btns {
  padding: 0 0;
  margin: 0 0;
  li {
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border-radius: 3px;
    .soc-auth-image {
      margin: 0 0.1rem 0 0;
      width: 35px;
      height: 35px;
    }
    a {
      text-decoration: none;
      font-weight: 600;
      color: #F7F7F7;
      font-size: 2.5rem;
    }
  }
  li.soc-auth-li-vk {
    background-color: #4D719D;
  }
  li.soc-auth-li-google {
    background-color: #DA4835;
  }
  li.soc-auth-li-fb {
    background-color: #4A6EA9;
  }
}