.footer
  .container
    .row
      .col-md-6
        .contact-info
          %ul
            %li
              %p
                08500,м. Фастів, Київська обл.
                %br
                пл. Перемоги,1
            %li
              %p Ліцензія ГКТ   АА  № 505050 від 02.12.2009 р.
            %li
              %p© 2016 Purkhalo Alexander
      .col-md-3
        .contact-info
          %ul
            %li
              =image_tag 'kievstar.png', id: 'kiev-star-emblem'
              %span
                067-50-95-100
            %li
              =image_tag 'life.png', id: 'life-emblem'
              %span
                063-36-27-885
      .col-md-3
        .contact-info
          %ul
            %li
              =link_to image_tag 'vk-for-footer.png', class: 'footer-emblem'
              %span
                =link_to 'https://vk.com/forest1995', 'https://vk.com/forest1995'
            %li
              =image_tag 'office-telephone.png', class: 'footer-emblem'
              %span т./ф. 04565-65388
            %li
              =image_tag 'mail-icon.png', class: 'footer-emblem'
              %span Lena_tour@mail.ru
