.footer
  .container
    .row
      .col-md-6
        .contact-info
          %ul
            %li
              %p
                08500,м. Фастів, Київська обл.
                %br
                пл. Перемоги,1
            %li
              %p Ліцензія ГКТ   АА  № 505050 від 02.12.2009 р.
      .col-md-3
        .contact-info
          %ul
            %li
              =image_tag 'http://3.bp.blogspot.com/-ZMcAs2BNEA0/Uqh3HNVAYWI/AAAAAAAAHHA/p4dzRjS8cC0/s1600/%D0%9B%D0%BE%D0%B3%D0%BE%D1%82%D0%B8%D0%BF_%D0%9A%D0%B8%D0%B5%D0%B2%D1%81%D1%82%D0%B0%D1%80.png', id: 'kiev-star-emblem'
              %span
                067-50-95-100
            %li
              =image_tag 'http://logonarium.ru/media/router/index/product/34/noresize/image.png', id: 'life-emblem'
              %span
                063-36-27-885
      .col-md-3
        .contact-info
          %ul
            %li
              =link_to image_tag 'http://cyberboy.ru/wp-content/uploads/2015/12/vk-xxl.png', class: 'footer-emblem', class: 'footer-emblem'
              %span
                =link_to 'https://vk.com/forest1995', 'https://vk.com/forest1995'
            %li
              =image_tag 'http://www.clipartbest.com/cliparts/jcx/9xz/jcx9xzzcE.png', class: 'footer-emblem'
              %span т./ф. 04565-65388
            %li
              =image_tag 'https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Email_mail_envelope_letter_send_inbox_newsletter.png', class: 'footer-emblem'
              %span Lena_tour@mail.ru
