.row.top-contact-info
  .col-md-6
    %ul
      %li
        kievstar: 067-50-95-100
      %li
        life: 063-36-27-885
  .col-md-6
    %ul
      %li
        email: Lena_tour@mail.ru
      %li
        т./ф. 04565-65388

.container
  .row
    .col-md-3
      %ul.display-ul
        %li= link_to 'Home', root_path
        %li= link_to 'New Tour', new_tour_path
    .col-md-7
      .pull-right
        %ul.display-ul
          - if user_signed_in?
            %li= link_to 'Sign Out'
          - else
            %li= link_to 'Login'


.container
  .row
    .col-md-3
      =image_tag 'emblem.jpg', id: 'emblem'
    .col-md-9
      %h1
        Туристична агенція
      %h2
        Шохалевич Олени
